#Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    text-decoration: none;
}

.Logo {
    padding-left: 2rem;
}

.Logo h1 {
    font-size: 1rem;
}

#sun {
    display: none;
}

#moon img, #sun img {
    width: 2rem;
    height: 2rem;
}

.themeMode {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.3rem;
}

@media only screen and (min-width:599px) {
    .Logo h1 {
        font-size: 2rem;
    }

    #themeMode {
        font-size: 2rem;
    }
}
