#moon {
    width: 2rem;
    height: 2rem;
}

#themeMode {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}

@media only screen and (min-width:599px) {
    #themeMode {
        font-size: 2rem;
    }
}